@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
.site-color-span {
  color: #F16D7F;
}

body {
  font-family: Lato;
  color: #222222;
}

.container {
  max-width: 1140px;
  margin: auto;
}
@media (max-width: 768.5px) {
  .container {
    max-width: 735px;
  }
}

.pointer-svg-color:hover {
  cursor: pointer;
}
.pointer-svg-color:hover path:first-child {
  fill: #F16D7F;
}

.pointer-svg-icon-color:hover {
  cursor: pointer;
}
.pointer-svg-icon-color:hover .path-site-color {
  fill: #F16D7F;
}
.pointer-svg-icon-color:hover .path-white-color {
  fill: #fff;
}

.header {
  height: 75px;
  background: #222222;
}
.header .container {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}
.header .container .left-icon .logo-icon {
  margin-right: 38px;
}
@media (max-width: 768.5px) {
  .header .container .left-icon {
    padding: 2px 15px;
  }
}
.header .container .right-icon {
  padding: 10px 10px;
}
.header .container .right-icon .user-icon {
  margin-left: 29px;
}
@media (max-width: 375.5px) {
  .header .container .right-icon .user-icon {
    display: none;
  }
}
.header .container .right-icon .cart-icon-div {
  display: inline;
  position: relative;
}
.header .container .right-icon .cart-icon-div .cart-icon {
  margin-left: 29px;
}
.header .container .right-icon .cart-icon-div .circle {
  position: absolute;
  right: -8px;
  top: -20px;
  color: #fff;
  width: 19px;
  background: #F16D7F;
  border-radius: 50%;
  text-align: center;
}
@media (max-width: 375.5px) {
  .header .container .right-icon .cart-icon-div {
    display: none;
  }
}
@media (max-width: 768.5px) {
  .header .container .right-icon {
    padding: 10px 28px;
  }
}

.banner {
  background: #F1E4E6;
  height: 764px;
  margin-bottom: 65px;
}
.banner .container {
  display: flex;
}
.banner .container .banner-men {
  margin-right: 231px;
}
@media (max-width: 1165px) {
  .banner .container .banner-men {
    margin-right: 100px;
  }
}
@media (max-width: 768.5px) {
  .banner .container .banner-men {
    padding-left: 87px;
  }
  .banner .container .banner-men img {
    height: 368px;
  }
}
@media (max-width: 615px) {
  .banner .container .banner-men {
    display: none;
  }
}
@media (max-width: 530px) {
  .banner .container .banner-men {
    margin-right: 100px;
  }
}
@media (max-width: 905px) {
  .banner .container .banner-men {
    margin-right: 20px;
  }
}
.banner .container .banner-right {
  padding-top: 290px;
  display: flex;
}
.banner .container .banner-right .line {
  width: 12px;
  height: 92px;
  background: #F16D7F;
}
.banner .container .banner-right .banner-right-text {
  margin-left: 16px;
}
.banner .container .banner-right .banner-right-text .brand-text1 {
  display: block;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
}
@media (max-width: 905px) {
  .banner .container .banner-right .banner-right-text .brand-text1 {
    font-size: 44px;
    font-weight: 900;
    line-height: 53px;
  }
}
@media (max-width: 375.5px) {
  .banner .container .banner-right .banner-right-text .brand-text1 {
    font-size: 38px;
    font-weight: 900;
    line-height: 46px;
  }
}
.banner .container .banner-right .banner-right-text .brand-text2 {
  display: block;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}
@media (max-width: 905px) {
  .banner .container .banner-right .banner-right-text .brand-text2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
  }
}
@media (max-width: 375.5px) {
  .banner .container .banner-right .banner-right-text .brand-text2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
}
@media (max-width: 768.5px) {
  .banner .container .banner-right {
    padding-top: 138px;
  }
}
@media (max-width: 375.5px) {
  .banner .container .banner-right .line {
    padding-top: 10px;
    height: 61px;
  }
}
@media (max-width: 768.5px) {
  .banner {
    height: 368px;
    margin-bottom: 20px;
  }
}
@media (max-width: 615px) {
  .banner {
    max-height: 363px;
  }
  .banner .container {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 375.5px) {
  .banner {
    margin-bottom: 64px;
  }
}

.offers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 180px;
  gap: 30px;
  margin-bottom: 96px;
}
.offers img {
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.offers .offer-card {
  background: rgb(33, 22, 22);
  position: relative;
}
.offers .offer-card .offer-title {
  position: relative;
  height: 100%;
  /* нужен, чтобы display: flex; работал корректно, 
  а именно, чтобы justify-content: center; 
  работал на всю длину блока offer-title */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
}
.offers .offer-card .offer-title .offer-title-bottom {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #F16D7F;
}
.offers .offer-card:last-child {
  grid-column: 1/4;
}
@media (max-width: 530px) {
  .offers .offer-card {
    height: 248px;
  }
  .offers .offer-card:last-child {
    height: 111px;
  }
}
@media (max-width: 1165px) {
  .offers {
    padding: 0 20px;
  }
}
@media (max-width: 768.5px) {
  .offers {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 168px 116px;
    gap: 20px;
    padding: 0 16px;
  }
}
@media (max-width: 530px) {
  .offers {
    display: flex;
    flex-direction: column;
  }
}

.items {
  margin-bottom: 95px;
  padding: 0 16px;
}
.items .items-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}
.items .items-title .items-title-top {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 6px;
}
.items .items-title .items-title-bottom {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #9F9F9F;
}
.items .items-filters {
  padding: 0 10px;
  height: 17px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.items .items-filters .items-filter-menu > span {
  margin-right: 11px;
}
.items .items-filters .items-filter {
  display: flex;
}
.items .items-filters .items-filter > div {
  margin-right: 28px;
}
.items .items-filters .items-filter > div span {
  margin-right: 10px;
}
.items .items-filters .items-filter > div:last-child {
  margin-right: 0;
}
.items .items-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 48px;
}
.items .items-cards-container .items-card {
  background: #F8F8F8;
}
.items .items-cards-container .items-card .items-img-block {
  position: relative;
}
.items .items-cards-container .items-card .items-img-block img {
  width: 100%;
}
.items .items-cards-container .items-card .items-img-block .items-add-button-block {
  background: rgba(58, 56, 56, 0.86);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.items .items-cards-container .items-card .items-img-block .items-add-button-block .items-add-button {
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 14px;
  width: 138px;
  height: 43px;
}
.items .items-cards-container .items-card .items-img-block .items-add-button-block .items-add-button svg {
  margin-right: 10px;
}
.items .items-cards-container .items-card:hover .items-add-button-block {
  display: flex;
}
.items .items-cards-container .items-card .items-card-text {
  padding: 25px 28px 0 18px;
}
.items .items-cards-container .items-card .items-card-text .items-card-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: #000000;
  margin-bottom: 12px;
}
.items .items-cards-container .items-card .items-card-text .items-card-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
}
.items .items-cards-container .items-card .items-card-text .items-card-price {
  color: #F16D7F;
  padding-bottom: 20px;
}
@media (max-width: 768.5px) {
  .items .items-cards-container .hidden {
    display: none;
  }
}
@media (max-width: 768.5px) {
  .items .items-cards-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 17px;
  }
}
@media (max-width: 375.5px) {
  .items .items-cards-container {
    grid-template-columns: 1fr;
    gap: 17px;
  }
}
.items .items-button-container {
  display: flex;
  justify-content: center;
}
.items .items-button-container .items-button {
  color: #F16D7F;
  border: 1px solid #F16D7F;
  background: #fff;
  width: 211px;
  height: 47px;
}
.items .items-button-container .items-button:hover {
  cursor: pointer;
  background: #F16D7F;
  color: #fff;
}
.items .items-pagination {
  width: 284px;
  height: 44px;
  border: 1px solid #EBEBEB;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  margin: auto;
}
.items .items-pagination a {
  color: #C4C4C4;
  text-decoration: none;
}
@media (max-width: 500px) {
  .items .items-filters .items-filter-menu svg {
    width: 37px;
    height: 25px;
  }
  .items .items-filters .items-filter-menu > span {
    display: none;
  }
  .items .items-filters .items-filter > div {
    margin-right: 15px;
  }
  .items .items-filters .items-filter > div span {
    margin-right: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
}
@media (max-width: 345px) {
  .items .items-filters .items-filter-menu svg {
    width: 30px;
    height: 20px;
  }
  .items .items-filters .items-filter > div {
    margin-right: 10px;
  }
  .items .items-filters .items-filter > div span {
    margin-right: 3px;
    font-size: 10px;
  }
}

.feature {
  background: #222224;
  height: 341px;
}
.feature .feature-cards-container {
  padding: 0 20px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature .feature-cards-container .feature-card {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
.feature .feature-cards-container .feature-card-img {
  margin-bottom: 20px;
}
.feature .feature-cards-container .feature-card-title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.feature .feature-cards-container span {
  color: #FBFBFB;
}
@media (max-width: 768.5px) {
  .feature {
    height: 610px;
  }
  .feature .feature-cards-container {
    flex-direction: column;
    justify-content: space-around;
  }
}
@media (max-width: 375.5px) {
  .feature {
    height: 610px;
  }
}
@media (max-width: 360.5px) {
  .feature .feature-cards-container .feature-card {
    width: 200px;
  }
}

.subscribe {
  position: relative;
  height: 448px;
}
.subscribe .subscribe-bcg {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.subscribe .subscribe-container {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.subscribe .subscribe-container .quote-block {
  height: 225px;
  width: 360px;
  text-align: center;
}
.subscribe .subscribe-container .quote-block img {
  margin-bottom: 30px;
}
.subscribe .subscribe-container .quote-block .quote {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.subscribe .subscribe-container .subscribe-block {
  height: 142px;
  width: 400px;
  text-align: center;
}
.subscribe .subscribe-container .subscribe-block .subscribe-text-top {
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 10px;
}
.subscribe .subscribe-container .subscribe-block .subscribe-text-bottom {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 25px;
}
.subscribe .subscribe-container .subscribe-block .subscribe-form {
  width: 100%;
  height: 50px;
}
.subscribe .subscribe-container .subscribe-block .subscribe-form .subscribe-input {
  box-sizing: border-box;
  height: 100%;
  width: 260px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
  background: #E1E1E1;
  padding-left: 15px;
  margin-right: -3px;
}
.subscribe .subscribe-container .subscribe-block .subscribe-form .subscribe-input::-moz-placeholder {
  color: rgba(34, 34, 36, 0.67);
}
.subscribe .subscribe-container .subscribe-block .subscribe-form .subscribe-input:-ms-input-placeholder {
  color: rgba(34, 34, 36, 0.67);
}
.subscribe .subscribe-container .subscribe-block .subscribe-form .subscribe-input::placeholder {
  color: rgba(34, 34, 36, 0.67);
}
.subscribe .subscribe-container .subscribe-block .subscribe-form .subscribe-button {
  box-sizing: border-box;
  height: 100%;
  width: 100px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  background: #F16D7F;
  color: #fff;
}
@media (max-width: 768.5px) {
  .subscribe {
    height: 614px;
  }
  .subscribe .subscribe-container {
    flex-direction: column;
    justify-content: center;
  }
  .subscribe .subscribe-container .quote-block {
    margin-bottom: 60px;
  }
  .subscribe .subscribe-container .quote-block img {
    margin-bottom: 30px;
  }
  .subscribe .subscribe-container .quote-block .quote {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
}
@media (max-width: 460px) {
  .subscribe .subscribe-container .subscribe-block {
    width: 340px;
  }
  .subscribe .subscribe-container .subscribe-block .subscribe-form .subscribe-input {
    width: 240px;
  }
  .subscribe .subscribe-container .subscribe-block .subscribe-form .subscribe-button {
    width: 95px;
  }
}
@media (max-width: 375.5px) {
  .subscribe {
    height: 550px;
  }
  .subscribe .subscribe-container .quote-block .quote {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  .subscribe .subscribe-container .subscribe-block {
    width: 360px;
  }
}
@media (max-width: 360.5px) {
  .subscribe .subscribe-container .quote-block {
    width: 300px;
  }
  .subscribe .subscribe-container .quote-block .quote {
    font-size: 14px;
  }
  .subscribe .subscribe-container .subscribe-block {
    width: 300px;
  }
  .subscribe .subscribe-container .subscribe-block .subscribe-text-top {
    font-size: 20px;
  }
  .subscribe .subscribe-container .subscribe-block .subscribe-text-bottom {
    font-size: 14px;
  }
  .subscribe .subscribe-container .subscribe-block .subscribe-form .subscribe-input {
    width: 180px;
  }
  .subscribe .subscribe-container .subscribe-block .subscribe-form .subscribe-button {
    width: 90px;
  }
}

.footer {
  background: #222224;
  height: 80px;
}
.footer .footer-container {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}
.footer .footer-container .footer-left-block {
  padding-top: 8px;
  color: #FBFBFB;
}
.footer .footer-container .footer-right-block {
  width: 150px;
}
.footer .footer-container .footer-right-block svg {
  margin-right: 2px;
}
@media (max-width: 768.5px) {
  .footer .footer-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 500px) {
  .footer {
    height: 143px;
  }
  .footer .footer-container {
    height: 100%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    padding-top: 0;
  }
}

.arrivals {
  background: #F8F3F4;
  height: 148px;
  margin-bottom: 50px;
}
.arrivals .arrivals-container {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.arrivals .arrivals-container .arrivals-left-block {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  padding-top: 60px;
}
.arrivals .arrivals-container .arrivals-right-block {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  padding-top: 65px;
}
@media (max-width: 420px) {
  .arrivals .arrivals-container {
    flex-direction: column;
    align-items: center;
  }
  .arrivals .arrivals-container .arrivals-left-block {
    padding-top: 24px;
  }
  .arrivals .arrivals-container .arrivals-right-block {
    padding-top: 32px;
  }
}

.zeroing-margin {
  margin-bottom: 0;
}

.product-block {
  margin-bottom: 128px;
}
.product-block .product-img-block {
  height: 777px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F7F7F7;
}
.product-block .product-img-block .product-img-arrow-left {
  width: 47px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(42, 42, 42, 0.15);
  position: relative;
}
.product-block .product-img-block .product-img-arrow-right {
  width: 47px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(42, 42, 42, 0.15);
  position: relative;
}
@media (max-width: 768.5px) {
  .product-block .product-img-block {
    height: 624px;
  }
  .product-block .product-img-block .product-img img {
    height: 565px;
  }
}
@media (max-width: 695px) {
  .product-block .product-img-block {
    height: 624px;
  }
  .product-block .product-img-block .product-img img {
    height: 454px;
  }
}
.product-block .product-card {
  height: 600px;
  border: 1px solid #EAEAEA;
  background: #ffffff;
  position: relative;
  top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.product-block .product-card .product-section-name {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}
.product-block .product-card .product-line-pink {
  border-top: 3px solid #F16D7F;
  width: 63px;
  margin-bottom: 12px;
}
.product-block .product-card .product-title {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}
.product-block .product-card .product-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
  margin-bottom: 32px;
  max-width: 555px;
}
.product-block .product-card .product-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  margin-bottom: 65px;
}
.product-block .product-card .product-line-black {
  border-top: 1px solid #EAEAEA;
  width: 640px;
  margin-bottom: 65px;
}
.product-block .product-card .product-filter-block {
  display: flex;
  margin-bottom: 65px;
}
.product-block .product-card .product-filter-block .product-filter {
  margin-right: 23px;
  color: #6F6E6E;
}
.product-block .product-card .product-filter-block .product-filter span {
  margin-right: 9px;
}
.product-block .product-card .product-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  background: #fff;
  width: 211px;
  height: 47px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.product-block .product-card .product-button:hover {
  cursor: pointer;
  background: #F16D7F;
  color: #fff;
}
.product-block .product-card .product-button:hover path {
  fill: #fff;
}
@media (max-width: 768.5px) {
  .product-block .product-card {
    top: 0;
  }
}
@media (max-width: 695px) {
  .product-block .product-card .product-line-black {
    width: 300px;
  }
}
@media (max-width: 500px) {
  .product-block .product-card {
    padding: 20px;
  }
  .product-block .product-card .product-description {
    line-height: 20px;
  }
  .product-block .product-card .product-filter-block .product-filter span {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }
  .product-block .product-card .product-line-black {
    width: 300px;
  }
}

.cart-registration-title {
  background: #F8F3F4;
  height: 148px;
  margin-bottom: 96px;
}
.cart-registration-title .cart-registration-title-container {
  display: flex;
  padding-left: 16px;
}
.cart-registration-title .cart-registration-title-container .cart-registration-title-span {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  padding-top: 60px;
}
@media (max-width: 420px) {
  .cart-registration-title .cart-registration-title-container {
    justify-content: center;
  }
  .cart-registration-title .cart-registration-title-container .cart-registration-title-span {
    padding-top: 50px;
  }
}

.more-margin {
  margin-bottom: 64px;
}
@media (max-width: 740px) {
  .more-margin {
    margin-bottom: 39px;
  }
}

.cart-block {
  margin-bottom: 128px;
  display: flex;
}
@media (max-width: 1150px) {
  .cart-block {
    flex-direction: column;
    width: 734px;
  }
}
@media (max-width: 740px) {
  .cart-block {
    width: 358px;
    margin-bottom: 96px;
  }
}
.cart-block .cart-block-cards-buttons {
  width: 652px;
}
@media (max-width: 1150px) {
  .cart-block .cart-block-cards-buttons {
    width: 100%;
    margin: auto;
    margin-bottom: 64px;
  }
}
.cart-block .cart-block-cards-buttons .cart-block-cards {
  margin-bottom: 72px;
}
@media (max-width: 740px) {
  .cart-block .cart-block-cards-buttons .cart-block-cards {
    margin-bottom: 30px;
  }
}
.cart-block .cart-block-cards-buttons .cart-block-cards .cart-block-card {
  height: 306px;
  display: flex;
  box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.1294117647);
  margin-bottom: 40px;
}
@media (max-width: 740px) {
  .cart-block .cart-block-cards-buttons .cart-block-cards .cart-block-card {
    height: 188px;
  }
}
.cart-block .cart-block-cards-buttons .cart-block-cards .cart-block-card .cart-block-card-img {
  height: 306px;
  width: 262px;
}
@media (max-width: 740px) {
  .cart-block .cart-block-cards-buttons .cart-block-cards .cart-block-card .cart-block-card-img {
    height: 188px;
    width: 144px;
  }
}
.cart-block .cart-block-cards-buttons .cart-block-cards .cart-block-card .cart-block-card-img img {
  height: 100%;
}
.cart-block .cart-block-cards-buttons .cart-block-cards .cart-block-card .cart-block-card-info {
  padding: 22px 0 0 30px;
  position: relative;
  width: 390px;
}
@media (max-width: 1150px) {
  .cart-block .cart-block-cards-buttons .cart-block-cards .cart-block-card .cart-block-card-info {
    width: 472px;
  }
}
@media (max-width: 740px) {
  .cart-block .cart-block-cards-buttons .cart-block-cards .cart-block-card .cart-block-card-info {
    width: 214px;
  }
}
.cart-block .cart-block-cards-buttons .cart-block-cards .cart-block-card .cart-block-card-info .cart-block-card-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 42px;
}
@media (max-width: 740px) {
  .cart-block .cart-block-cards-buttons .cart-block-cards .cart-block-card .cart-block-card-info .cart-block-card-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-bottom: 25px;
  }
}
.cart-block .cart-block-cards-buttons .cart-block-cards .cart-block-card .cart-block-card-info .cart-block-card-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
@media (max-width: 740px) {
  .cart-block .cart-block-cards-buttons .cart-block-cards .cart-block-card .cart-block-card-info .cart-block-card-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #575757;
  }
}
.cart-block .cart-block-cards-buttons .cart-block-cards .cart-block-card .cart-block-card-info .cart-block-card-description div {
  margin-bottom: 6px;
}
@media (max-width: 740px) {
  .cart-block .cart-block-cards-buttons .cart-block-cards .cart-block-card .cart-block-card-info .cart-block-card-description div {
    margin-bottom: 4px;
  }
}
.cart-block .cart-block-cards-buttons .cart-block-cards .cart-block-card .cart-block-card-info .cart-block-card-description div .cart-block-card-description-pink {
  color: #F16D7F;
}
.cart-block .cart-block-cards-buttons .cart-block-cards .cart-block-card .cart-block-card-info .cart-block-card-description div .cart-block-card-description-square {
  display: inline-block;
  margin-left: 24px;
  width: 43px;
  height: 24px;
  border: 1px solid #EAEAEA;
  text-align: center;
}
@media (max-width: 740px) {
  .cart-block .cart-block-cards-buttons .cart-block-cards .cart-block-card .cart-block-card-info .cart-block-card-description div .cart-block-card-description-square {
    width: 24px;
    height: 15px;
  }
}
.cart-block .cart-block-cards-buttons .cart-block-cards .cart-block-card .cart-block-card-info .cart-block-card-info-close {
  position: absolute;
  top: 25px;
  right: 25px;
}
@media (max-width: 740px) {
  .cart-block .cart-block-cards-buttons .cart-block-cards .cart-block-card .cart-block-card-info .cart-block-card-info-close {
    width: 10px;
    height: 10px;
  }
}
.cart-block .cart-block-cards-buttons .cart-block-buttons {
  display: flex;
  justify-content: space-between;
}
.cart-block .cart-block-cards-buttons .cart-block-buttons .cart-block-button {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #A4A4A4;
  padding: 16px 38px;
}
@media (max-width: 740px) {
  .cart-block .cart-block-cards-buttons .cart-block-buttons .cart-block-button {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding: 8px 17px;
    flex-direction: column;
  }
}
.cart-block .cart-form-button-block {
  padding-left: 128px;
  width: 360px;
}
@media (max-width: 1150px) {
  .cart-block .cart-form-button-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
  }
}
@media (max-width: 740px) {
  .cart-block .cart-form-button-block {
    flex-direction: column;
  }
}
.cart-block .cart-form-button-block .cart-form-block {
  margin-bottom: 57px;
}
@media (max-width: 1150px) {
  .cart-block .cart-form-button-block .cart-form-block {
    width: 360px;
  }
}
.cart-block .cart-form-button-block .cart-form-block .cart-form {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.cart-block .cart-form-button-block .cart-form-block .cart-form * {
  margin-bottom: 21px;
}
.cart-block .cart-form-button-block .cart-form-block .cart-form input {
  border: 1px solid #A4A4A4;
  width: 100%;
  height: 44px;
  padding-left: 16px;
  box-sizing: border-box;
}
@media (max-width: 1150px) {
  .cart-block .cart-form-button-block .cart-form-block .cart-form input {
    width: 360px;
  }
}
.cart-block .cart-form-button-block .cart-form-block .cart-form button {
  border: 1px solid #A4A4A4;
  height: 34px;
  width: 100px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  background-color: #fff;
}
.cart-block .cart-form-button-block .cart-button-block {
  width: 100%;
  height: 214px;
  background: #F5F3F3;
  text-align: right;
  padding-top: 39px;
  box-sizing: border-box;
}
@media (max-width: 1150px) {
  .cart-block .cart-form-button-block .cart-button-block {
    width: 360px;
  }
}
.cart-block .cart-form-button-block .cart-button-block .cart-button-sub {
  padding-right: 34px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-bottom: 12px;
}
.cart-block .cart-form-button-block .cart-button-block .cart-button-sub span {
  margin-left: 15px;
}
.cart-block .cart-form-button-block .cart-button-block .cart-button-grand {
  padding-right: 37px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #4A4A4A;
  margin-bottom: 21px;
}
.cart-block .cart-form-button-block .cart-button-block .cart-button-grand span {
  margin-left: 15px;
  color: #F16D7F;
}
.cart-block .cart-form-button-block .cart-button-block .cart-button-line-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-block .cart-form-button-block .cart-button-block .cart-button-line {
  height: 1px;
  width: 275px;
  background: #E2E2E2;
  margin-bottom: 17px;
}
.cart-block .cart-form-button-block .cart-button-block .cart-button {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  width: 273px;
  height: 50px;
  background-color: #F16D7F;
  text-align: center;
  padding-top: 15px;
  box-sizing: border-box;
}

.registration-block {
  margin-bottom: 96px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 375.5px) {
  .registration-block {
    flex-direction: column;
  }
}
.registration-block .registration-block-form {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  width: 360px;
}
@media (max-width: 1150px) {
  .registration-block .registration-block-form {
    padding-left: 15px;
  }
}
@media (max-width: 375.5px) {
  .registration-block .registration-block-form {
    width: 358px;
    padding-left: 8px;
    margin-bottom: 40px;
  }
}
.registration-block .registration-block-form .registration-block-form-margin {
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}
.registration-block .registration-block-form .registration-block-form-radio {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}
.registration-block .registration-block-form .registration-block-form-radio input {
  margin-right: 10px;
}
.registration-block .registration-block-form .registration-block-form-radio span {
  margin-right: 20px;
}
.registration-block .registration-block-form input:not(.registration-block-form-radio input) {
  border: 1px solid #A4A4A4;
  width: 100%;
  height: 44px;
  padding-left: 16px;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}
.registration-block .registration-block-form .registration-block-button {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  width: 167px;
  height: 50px;
  background-color: #F16D7F;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  box-sizing: border-box;
}
.registration-block .registration-block-form .registration-block-button svg {
  margin: auto;
}
.registration-block .registration-block-info {
  width: 652px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  padding-left: 15px;
}
@media (max-width: 1150px) {
  .registration-block .registration-block-info {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    width: 354px;
  }
}
.registration-block .registration-block-info .registration-block-info-title {
  margin-bottom: 22px;
}
.registration-block .registration-block-info .registration-block-info-description {
  margin-bottom: 21px;
}
.registration-block .registration-block-info .registration-block-info-dignity {
  padding-left: 30px;
}
.registration-block .registration-block-info .registration-block-info-dignity .registration-block-info-check {
  list-style-image: url("../../imgs/Check.png");
  margin-bottom: 16px;
  padding-left: 23px;
}/*# sourceMappingURL=main.css.map */