.header {
    height: 75px;
    background: #222222;

    .container {
        display: flex;
        justify-content: space-between;
        padding: 16px 0;

        .left-icon {
            .logo-icon {
                margin-right: 38px;
            }

            @media (max-width: 768.5px) {
                padding: 2px 15px;
            }
        }

        .right-icon {
            padding: 10px 10px;

            .user-icon {
                margin-left: 29px;

                @media (max-width: 375.5px) {
                    display: none;
                }
            }

            .cart-icon-div {
                display: inline;
                position: relative;

                .cart-icon {
                    margin-left: 29px;
                }

                .circle {
                    position: absolute;
                    right: -8px;
                    top: -20px;
                    color: #fff;
                    width: 19px;
                    background: $site-color;
                    border-radius: 50%;
                    text-align: center;
                }

                @media (max-width: 375.5px) {
                    display: none;
                }
            }

            @media (max-width: 768.5px) {
                padding: 10px 28px;
            }
        }
    }
}